# Ignore data outputs
/data

# Python artifacts
__pycache__/
*.pyc
*.pyo

# Env
.env
.vscode/
.idea/

# Optional models not tracked
src/models/aircraft.py
src/models/event.py
src/models/ship.py
src/models/vehicle.py
